.main-navigation__menu-btn {
    width: 2.4rem;
    height: 2.4rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 2.1rem;
    height: 2px;
    background: white;
  }
  
  .main-navigation__title {
    color: white;
    font-size: 28px;
    font-family: monospace;
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }

  .main-navigation__title a:hover{
    color:#fff;
    text-decoration: none;
  }
  
  .main-navigation__header-nav {
    display: none;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
    }
  }

  .SideDrawer.Open .side-drawer{
    transform: translateX(0);
  }

  .SideDrawer.Close .side-drawer{
    transform: translateX(-100%);
}

.main-navigation__drawer-nav img{
  display: none;
}
@media screen and (max-width:550px){
  .SideDrawer.Close .main-navigation__drawer-nav img{
    display: none;
  }

  .SideDrawer.Open   .main-navigation__drawer-nav img{
    display: block;
    width: 100%;
  }

  .SideDrawer.Open .mobile-only{
    padding-top: 20px;
  }

  .SideDrawer.Open .main-navigation__drawer-nav img.medium-icon{
    width: 24px;
    display: inline;
    margin-top: -12px;
  }

  .SideDrawer.Open .nav-links{
    justify-content: normal;
    padding-top: 25%;
    width: 90%;
    margin: 0 auto;
  }
  .SideDrawer.Open .nav-links li{
    width: 100%;
    display: block;
    padding: 10px 10px;
    margin:0;
    border-top: 1px solid grey;
  }

  .SideDrawer.Open .nav-links li:last-child{
    border-bottom: 1px solid grey;
  }
  .SideDrawer.Open .nav-links li a,
  .SideDrawer.Open .nav-links li button{
    border:none;
    color: #000;
    padding: .5rem 1rem;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

  }
  .SideDrawer.Open .nav-links li a.active{
    background:none;
    border:none;
    color: #007bff;
  }
}